[submodule "lib/jinja2"]
	path = lib/jinja2
	url = https://github.com/pallets/jinja
[submodule "lib/werkzeug"]
	path = lib/werkzeug
	url = https://github.com/pallets/werkzeug
[submodule "lib/flask"]
	path = lib/flask
	url = https://github.com/pallets/flask
[submodule "lib/flask-babel"]
	path = lib/flask-babel
	url = https://github.com/python-babel/flask-babel
[submodule "lib/markdown"]
	path = lib/markdown
	url = https://gitorious.org/python-markdown/mainline.git
[submodule "lib/requests"]
	path = lib/requests
	url = https://github.com/requests/requests
