[submodule "lib/hangulize"]
	path = lib/hangulize
	url = git@github.com:sublee/hangulize.git
[submodule "lib/jinja2"]
	path = lib/jinja2
	url = git://github.com/mitsuhiko/jinja2.git
[submodule "lib/werkzeug"]
	path = lib/werkzeug
	url = git://github.com/mitsuhiko/werkzeug.git
[submodule "lib/flask"]
	path = lib/flask
	url = http://github.com/mitsuhiko/flask.git
