body {
  margin: 0;
  padding: 30px 80px;
  font-family: sans-serif;
  color: #765;
  background-image: -webkit-gradient(
    radial, 50% 135, 0, 50% 75, 300, from(#e4dfcc), to(#f6f6eb)
  );
  background-image: -moz-radial-gradient(
    50% 135px 45deg, circle closest-side, #e4dfcc 0, #f6f6eb 300px
  );
  background-repeat: no-repeat;
  background-color: #f6f6eb;
}

.logo {
  margin: 0;
  padding: 0;
}

div.share {
  margin-bottom: 5px;
}

div.share iframe {
  display: block;
  float: right;
}

form.set-locale {
  border-top: 1px solid #e9e6d7;
  padding-top: 9px;
  text-align: center;
  font-size: 11px;
  color: #cba;
}

.license {
  clear: right;
  margin: 0 auto 40px;
  text-align: center;
  font-size: 11px;
  font-family: "Times New Roman", Times, serif;
}

.set-locale a:link, .set-locale a:visited {
  color: #765;
  text-decoration: none;
}

.set-locale em {
  font-style: normal;
  font-weight: bolder;
  color: #333;
}

.license a:link, .license a:visited {
  color: #333;
}

a:link, a:visited {
  color: #369;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
