body {
  margin: 0;
  padding: 30px 80px;
  font-family: sans-serif;
  color: #765;
}

.logo {
  margin: 0;
  padding: 0;
}

div.share {
  margin-bottom: 5px;
}

div.share iframe {
  display: block;
  float: right;
}

form.set-locale {
  border-top: 1px solid #cba;
  padding-top: 9px;
  text-align: center;
  font-size: 11px;
  color: #cba;
}

.license {
  clear: right;
  margin: 0 auto 40px;
  text-align: center;
  font-size: 11px;
  font-family: "Times New Roman", Times, serif;
}

.set-locale a:link, .set-locale a:visited {
  color: #765;
  text-decoration: none;
}

.set-locale em {
  font-style: normal;
  font-weight: bolder;
  color: #333;
}

.license a:link, .license a:visited {
  color: #333;
  text-decoration: none;
}

.set-locale a:hover, .license a:hover {
  text-decoration: underline;
}
