<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta property="og:image"
  content="{{ url_for('static', filename='logo.png') }}"/> 
<meta property="fb:admins" content="1081697408" />
<meta name="keyword" content="Hangulize, 외래어, 한글, 표기, 변환기,
  Korean, Hangul, Transcription" />
<meta name="google-site-verification"
  content="fZQsdvG-debohtE8S_xAS9kcpyvy81hhMjGllvS4WSY" />
<title>{% block title -%} Hangulize {%- endblock %}</title>
{% block import %}
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='style.css') }}" />
  <script src="//code.jquery.com/jquery-1.4.4.min.js"></script> 
{% endblock %}
</head>
<body class="{% block class %}{% endblock %}">
  <div class="logo">
    {% block logo %}
      <img src="{{ url_for('static', filename='logo-mini.png') }}"
        alt="Hangulize" />
    {% endblock %}
  </div>
  {% block body %}{% endblock %}
  <!-- Set Locale -->
  <form method="post" action="{{ url_for('set_locale') }}" class="set-locale">
    <input type="hidden" name="locale" value="{{ locale }}" />
    {% if locale == 'ko' %}
      <em>한국어</em> | <a href="" data-locale="en">English</a>
    {% else %}
      <a href="" data-locale="ko">한국어</a> | <em>English</em>
    {% endif %}
    <script>
      $( ".set-locale a" ).click(function() {
        var self = $( this );
        var form = self.parent();
        form.find( "[name=locale]" ).val( self.data( "locale" ) );
        form.submit();
        return false;
      });
    </script>
  </form>
  <!-- License -->
  <div class="license">
    &copy; 2010&ndash;2015
    <a href="http://groups.google.com/group/hangulize">Hangulize team</a>.
    All rights reserved.
  </div>
  <!-- GitHub Ribbon -->
  <a href="https://github.com/sublee/hangulize">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
      alt="Fork me on GitHub"
      src="{{ 'http://s3.amazonaws.com/github/ribbons/'
              'forkme_right_darkblue_121621.png' }}" />
  </a>
  <script src="{{ url_for('static', filename='ready.js') }}"></script>
  {% block foot %}
    <script class="shuffle" src="{{ url_for('shuffle') }}"></script>
  {% endblock %}
  <!-- Google Analytics -->
  <script>
    var _gaq = _gaq || [];
    _gaq.push([ "_setAccount", "UA-19439120-1" ]);
    _gaq.push([ "_trackPageview" ]);

    (function() {
      var ga = document.createElement( "script" );
      ga.type = "text/javascript";
      ga.async = true;
      var src;
      if ( "https:" === document.location.protocol ) {
        src = "https://ssl";
      } else {
        src = "http://www";
      }
      src += ".google-analytics.com/ga.js";
      ga.src = src;
      var s = document.getElementsByTagName( "script" )[ 0 ];
      s.parentNode.insertBefore( ga, s );
    })();
  </script>
</body>
</html>

