<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Hangulize</title>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
<style type="text/css">
  @import "http://fontface.kr/NanumGothic/css";
  .wf-active * {
    font-family: NanumGothic !important;
  }
</style>
<script src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load( "webfont", "1" );
  google.setOnLoadCallback(function() {
    WebFont.load({
      custom: { families: [ "NanumGothic" ] },
      urls: [ "http://fontface.kr/NanumGothic/css" ]
    });
  });
</script>
<script src="http://code.jquery.com/jquery-1.4.3.min.js"></script> 
<script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
</head>
<body>
<div data-role="page" {% block page_options %}{% endblock %}>
  <div data-role="header" {% block header_options %}{% endblock %}>
    {% block header %}{% endblock %}
  </div>
  <div data-role="content" {% block content_options %}{% endblock %}>
    {% block body %}{% endblock %}
  </div>
</div>
</body>
</html>
