{% extends 'base.html' %}

{% block class -%} index {%- endblock %}

{% block import %}
  {{ super() }}
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='index.css') }}" />
{% endblock %}

{% block logo %}
  <img src="{{ url_for('static', filename=logo_name) }}" alt="Hangulize" />
{% endblock %}

{% block body %}
  <!-- Transcriptor -->
  <form>
    <select name="lang">
      {% for code, label in langs %}
        <option value="{{ code }}"
          {% if lang and code == lang.code %}selected="selected"{% endif %}>
          {{- label -}}
        </option>
      {% endfor %}
    </select>
    <label class="word" for="word">{{ _("word to Hangul:") }}</label>
    <input type="text" name="word" id="word" value="{{ word }}"
      autocomplete="off" />
  </form>
  <div id="result">
    <p><span>{% block result %}{% endblock %}</span></p>
    <i></i>
  </div>
  <div class="shuffle">
    <a href="">{{ _("Fill with a random example") }}</a>
  </div>
  <!-- Read Me -->
  <div id="readme">
    <p>{{ _("__README__") }}</p>
  </div>
  <!-- Share -->
  <div class="share">
    {% include 'fblike.html' %}
    {% include 'tweet.html' %}
  </div>
{% endblock %}
