{% extends "base.html" %}

{% block header_options %}
  data-nobackbtn="true" data-theme="a"
{% endblock %}

{% block header %}
  <h1><img src="{{ url_for("static", filename="logo.png") }}" alt="Hangulize"
    style="margin-top: 8px;" /></h1>
{% endblock %}

{% block body %}
  <form>
    <div data-role="fieldcontain">
      <label for="word">원 단어</label>
      <input type="text" name="word" id="word" value="{{ word }}" />
    </div>
    <div data-role="fieldcontain">
      <label for="locale">언어</label>
      <select name="locale">
        {% for loc, lang in locales %}
        <option value="{{ loc }}"
          {% if loc == locale %}
            selected="selected"
          {% endif %}>{{ lang.__name__ }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit"
      data-icon="arrow-r" data-theme="b">한글 표기로 변환</button>
  </form>
  <script>
    $(function() {
      var form = $( "form:eq(0)" );
      form.submit(function() {
        var self = $( this ),
            url = self.attr( "action" ) + "?" + self.serialize();
        $( "<a></a>" ).data( "rel", "dialog" )
                      .data( "transition", "slide" )
                      .attr( "href", url )
                      .click();
        return false;
      });
      form.children( "[role=button]" ).unbind( "click" ).click(function() {
        form.submit();
        return false;
      });
    });
  </script>
{% endblock %}
